<h4><small>( ͡° ͜ʖ ͡°)This is a search website linked to a Git-hub i that lets you search for any and all git hub
    users.( ͡° ͜ʖ ͡°)</small></h4>
<h4><small>( ͡° ͜ʖ ͡°) Just type in a name and see what happens ( ͡° ͜ʖ ͡°)</small></h4>
<hr>
<div class="container">
  <div class="input panel-heading">
    <label for="Name"></label>
    <input class="form-control" type="text" name="Name" id="name" placeholder="Enter Name" [(ngModel)]="username" name="name" #name="ngModel" (keyup)="userName()">
    <button (click)="userName()" class="button btn-success" name="search">Search</button>
  </div>

  <!-- <p class="log"> {{user.login}}</p> -->

  <div class="panel-heading"></div>

  <div *ngIf="user">
    <div class="panel panel-default">


      <img class="image" src="{{user.avatar_url}}" alt="">
      <div class="card">


        <ul>
          <li>{{user.followers}} Followers</li>
          <li>{{user.following}} Followers</li>
          <li>{{user.public_repo}} Followers</li>

        </ul>
        <div class=" container-flex card talk">
          <h1 class="">public Repositories</h1>

          <div *ngFor="let repo of repos">
            <hr>
            <ul>
              <li><a href="{{repo.html_url}}">{{repo.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 

<div>

 
  <div>
    {{user.login}}  
    <img src="{{user.avatar_url}}" alt="">
  </div>
</div> -->